:root {
	--background-color: #242424;

	--text-color-selection: #eeeeeefe;
	--text-color: #eeeeee;

	--shade-0: #121212;
	--shade-1: #2a2a2a;
	--shade-2: #313131;
	--shade-3: #363636;
	--shade-4: #3b3b3b;
	--shade-5: #424242;
	--shade-6: #6c6c6c;



	--theme-blue: hsl(209, 100%, 22%);
	--theme-blue-darker: hsl(209, 100%, 14%);

	--theme-cyan: hsl(205, 72%, 66%);

	--theme-black: hsl(210, 33%, 9%);
	--theme-black-lighter: hsl(210, 33%, 14%);


	--theme-white: hsl(0, 0%, 100%); /* redundant but oh well */

	color: var(--text-color);
	/* bs formula i made up */
	font: max(16px, calc(0.8vh + 0.3vw)) Roboto;
}



::selection {
	background-color: var(--text-color-selection);
	color: var(--background-color);
}



body {
	background-color: var(--theme-black);
	margin: 0;

	height: 100vh;
	padding: 2rem;
	box-sizing: border-box;
}
